.wave-footer {
  width: 100%;
  //aspect-ratio: 1/0.068;

  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  background-image: url("../images/footer-wave1-450.webp");
  aspect-ratio: 1/0.13;
  width: 100%;
  height: auto;

  @include bp(450px) {
    background-image: url("../images/footer-wave1-800.webp");
    aspect-ratio: 1/0.075;
  }

  @include bp(800px) {
    background-image: url("../images/footer-wave1-2000.webp");
    aspect-ratio: 1/0.1;
  }

  @include bp(1570px) {
    background-image: url("../images/footer-wave1-1570.webp");
    aspect-ratio: 1/0.057;
  }

  @include bp(2000px) {
    background-image: url("../images/footer-wave1-2500.webp");
    aspect-ratio: 1/0.046;
  }
}
.wave {
  width: 100%;
  height: auto;
  overflow: hidden;
}

.wave svg {
  width: 100%;
  height: 100%;
  display: block;
}

.wave-fill {
  fill: getcolor("light-grey");
}

.wave-stroke {
  fill: none;
  stroke: $color-fh-gold;
  stroke-width: 6;
  stroke-linecap: round;
  stroke-linejoin: round;
  vector-effect: non-scaling-stroke;
}

.footer-top {
  background-color: $color-fh-charcoal;

  padding: 40px 0 20px;

  @include bp(desk) {
    padding: 60px 0 30px;
  }

  @include bp(wide) {
    padding: 60px 0 30px;
  }

  .two-col-container {
    @include bp(1000px) {
      display: flex;
      justify-content: space-between;
    }

    &__col1 {
      margin-bottom: 60px;

      @include bp(1000px) {
        flex: 0 0 50%;
        margin-bottom: 0px;
      }

      @include bp(1200px) {
        flex: 0 0 60%;
      }

      .site-footer-logo {
        z-index: 10;
        position: relative;
        display: block;

        background-image: url("../images/logo-black.svg");
        background-size: contain;
        background-repeat: no-repeat;

        width: 152px;
        height: 48px;
        margin: 0 auto 40px;

        @include bp(lap) {
          margin: 0 0 80px;
          width: 241px;
          height: 76px;
        }
      }

      .details-container {
        margin: 0 auto 15px;
        width: 280px;

        display: flex;
        justify-content: center;
        align-items: center;

        @include bp(lap) {
          width: 370px;
          margin: 0 0 15px;
          justify-content: flex-start;
        }

        margin-bottom: 15px;

        .details {
          display: none;
          @include bp(lap) {
            flex: 0 0 85px;
            display: block;
            text-align: left;
            font-size: 22px;
            margin: 0;

            font-weight: 700;
          }
        }

        .contact-icon {
          display: block;
          height: 20px;
          width: 20px;
          background-size: contain;
          margin: 0 5px;

          &--phone {
            background-image: url("../images/cs-icon-phone.webp");
          }

          &--email {
            background-image: url("../images/cs-icon-email.webp");
          }
        }

        a {
          display: block;
          color: getcolor("white");
          text-decoration: none;
          font-size: 22px;
          font-weight: 700;
        }
      }

      .copyright-message {
        color: getcolor("white");
      }
    }
    &__col2 {
      @include bp(1000px) {
        flex: 0 0 50%;
      }

      @include bp(1200px) {
        flex: 0 0 40%;
      }

      .footer-menu-container {
        text-align: center;

        @include bp(700px) {
          display: flex;
          justify-content: space-between;
        }

        &__col {
          margin-bottom: 60px;

          &:last-of-type {
            margin-bottom: 0px;
          }
          @include bp(700px) {
            flex: 0 0 42%;
            margin-bottom: 0px;
          }

          h3 {
            display: block;
            text-align: center;
            font-weight: 700;
            max-width: 450px;
            margin: 0 auto;
            @include bp(700px) {
              margin: 0;
            }

            @include bp(lap) {
              text-align: left;
            }

            color: getcolor("white");
            padding-bottom: 20px;
            margin-bottom: 20px;
            border-bottom: 1px solid rgba(255, 255, 255, 0.2);
          }
          ul {
            list-style: none;
            padding: 0;

            li {
              //font-size: to-rem(12);
              margin-bottom: 10px;
              text-align: center;
              @include bp(1000px) {
                text-align: left;
                //font-size: to-rem(14);
              }

              a {
                font-weight: 400;
                color: #eee;
                text-decoration: none;
                text-transform: uppercase;
                font-size: to-rem(14);

                &:hover {
                  color: $color-fh-gold;
                }
              }
            }
          }
        }
      }
    }
  }
}

.footer-bottom {
  background-color: getcolor("black");
  padding: 20px 0px;

  .two-col-container {
    text-align: center;
    @include bp(1000px) {
      text-align: left;
      display: flex;
      justify-content: space-between;
    }

    &__col {
      @include bp(1000px) {
        flex: 0 0 50%;

        display: flex;
        align-items: center;
      }

      .copyright-message {
        color: getcolor("white");
        font-size: to-rem(13);
        max-width: 500px;
        margin: 0 auto;
        margin-bottom: 20px;
        @include bp(1000px) {
          margin: 0;
          font-size: to-rem(14);
          margin-bottom: 0px;
        }
      }

      .privacy-message {
        width: fit-content;
        margin: 0 auto;
        @include bp(1000px) {
          margin-left: auto;
          margin-right: 0;
        }
        a {
          display: block;
          @include bp(1000px) {
            display: inline-block;
          }
          color: getcolor("white");
          font-size: to-rem(14);
          font-weight: 400;
          margin-right: 20px;

          &:last-of-type {
            margin-right: 0;
          }
        }
      }
    }
  }
}
