@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat/Montserrat-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("../fonts/montserrat/Montserrat-VariableFont_wght.ttf")
      format("truetype");
  font-display: swap;
  font-style: normal;
  font-weight: 200 800;
  font-stretch: normal;
}

@font-face {
  font-family: "montserrat";
  src:
    url("../fonts/montserrat/Montserrat-Italic-VariableFont_wght.woff2")
      format("woff2-variations"),
    url("../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf")
      format("truetype");
  font-display: swap;
  font-style: italic;
  font-weight: 200 800;
  font-stretch: normal;
}

.tk-montserrat {
  font-family: "montserrat", sans-serif;
}
